LABEL arch
TEXT HELP
Boot the KickOS Arch Edition live environment on BIOS.
It allows you to try KickOS, install it, or perform system maintenance.
ENDTEXT
MENU LABEL KickOS Arch Edition (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-zen
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-zen.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% quiet splash

# Accessibility boot option
LABEL archspeech
TEXT HELP
Boot the KickOS Arch Edition live environment on BIOS with speakup screen reader.
It allows you to try KickOS, install it, or perform system maintenance with speech feedback.
ENDTEXT
MENU LABEL KickOS Arch Edition (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-zen
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-zen.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on quiet splash
